<h1>Help</h1>
<p>
  获取帮助<br/>
  <h2><%=yield(:title) %></h2>
  <a href="https://www.railstutorial.org/help">Rails Tutorial Help page</a><br/>
  获取案例帮助<br/>
  <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.
</p>