<% provide(:title, 'All users') %>
<h1>所有用户</h1>

<%= will_paginate %>

<ul class="users">

  <ul style="display: flex;flex-direction: row;justify-content: space-between;" class="list-group">
    <li>头像</li>
    <li>用户名</li>
    <li>邮箱</li>
    <li>操作</li>
  </ul>

  <%= render @users %>
</ul>

<%= will_paginate %>